<!DOCTYPE html>
<head>
  <title>Things to do</title>
</head>
<body>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <h1>To do list</h1>
          <div class="form-group">
            <input id="title" type="text" class="form-control" placeholder="Title...">
          </div>
          <div class="form-group">
            <input id="notes" type="text" class="form-control" placeholder="Notes...">
          </div>
          <button id="add" class="btn btn-default">Add</button>
        </div>
      </div>
      <ul class="list-group">
      </ul>
    </div>
  </div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
  <script>
    $.getJSON({
        url: '/todos'
    })
    .then(function(todos) {
        var html_template = '<li class="list-group-item"><%= title %>, <%= notes %></li>';
        var tmpl = _.template(html_template);
        var html_content = _.reduce(todos, function(acc, item) {
          return acc.concat(tmpl(item)).concat('\n');
        }, "");
        $('ul').html(html_content);
    });

    $('#add').click(function() {
      var title = $('#title').val();
      var notes = $('#notes').val();
    });
  </script>
</body>
